<div class="page-header">
  <h1 class="pageName">Municipal Tenders</h1>
  <div class="actionBar">
    <label class="include-expired-toggle">
      <span>Show expired</span>
      <nz-switch [ngModel]="includeExpired" (ngModelChange)="toggleIncludeExpired($event)"></nz-switch>
    </label>
    <button nz-button nzType="primary" (click)="addRow()">Create Tender</button>
  </div>
</div>

<nz-table
  nzShowSizeChanger
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th>Actions</th>
      <th nzColumnKey="Id" [nzSortFn]="true">ID</th>
      <th nzColumnKey="Title">Title</th>
      <th nzColumnKey="Description">Description</th>
      <th nzColumnKey="BeginDate">Begin Date</th>
      <th nzColumnKey="EndDate">End Date</th>
      <th nzColumnKey="FromPrice">Min Price</th>
      <th nzColumnKey="ToPrice">Max Price</th>
      <th nzColumnKey="MinPriceOffer">Lowest Offer</th>
      <th nzColumnKey="UsersCount">Participants</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of list">
      <td class="actions">
        <button nz-button nzType="link" (click)="editRow(data)">Edit tender</button>
        <button nz-button nzType="link" (click)="openReport(data.Id)">View report</button>
        <button
          nz-button
          nzType="link"
          nz-popconfirm
          nzPopconfirmTitle="Remove this tender?"
          (nzOnConfirm)="deleteRow(data.Id)"
          nzCancelText="Cancel"
          nzOkText="Remove"
        >
          Delete
        </button>
      </td>
      <td>{{ data.Id }}</td>
      <td>{{ data.Title }}</td>
      <td>{{ data.Description }}</td>
      <td>{{ data.BeginDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ data.EndDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ data.FromPrice | number }}</td>
      <td>{{ data.ToPrice | number }}</td>
      <td>{{ data.Report.MinPriceOffer | number }}</td>
      <td>{{ data.Report.UsersCount | number }}</td>
    </tr>
  </tbody>
</nz-table>

<form nz-form [formGroup]="validateForm">
  <nz-modal
    [(nzVisible)]="isEditModalVisible"
    nzTitle="Tender"
    nzOkText="Save"
    nzCancelText="Cancel"
    [nzOkLoading]="loading"
    (nzOnOk)="submitForm()"
    (nzOnCancel)="isEditModalVisible = false"
  >
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Title</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input type="text" nz-input formControlName="Title" placeholder="Tender title" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Description</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <textarea formControlName="Description" nz-input rows="3" placeholder="Tender description"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Begin date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker formControlName="BeginDate" nzPlaceHolder="Select date"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>End date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker formControlName="EndDate" nzPlaceHolder="Select date"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Minimum price</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-input-number
            formControlName="FromPrice"
            [nzMin]="0"
            [nzMax]="999999999"
            [nzStep]="1000"
            style="width: 200px"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Maximum price</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-input-number
            formControlName="ToPrice"
            [nzMin]="0"
            [nzMax]="999999999"
            [nzStep]="1000"
            style="width: 200px"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </nz-modal>
</form>
