<div class="page-header">
  <h1 class="pageName">مناقصه های باز</h1>
</div>

<nz-table
  nzShowSizeChanger
  [nzData]="list"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th>عملیات</th>
      <th nzColumnKey="Id" [nzSortFn]="true">شناسه</th>
      <th nzColumnKey="Title">عنوان</th>
      <th nzColumnKey="Description">توضیحات</th>
      <th nzColumnKey="BeginDate">تاریخ شروع</th>
      <th nzColumnKey="EndDate">تاریخ پایان</th>
      <th nzColumnKey="FromPrice">حداقل قیمت</th>
      <th nzColumnKey="ToPrice">حداکثر قیمت</th>
      <th nzColumnKey="MinPriceOffer">کمترین پیشنهاد</th>
      <th nzColumnKey="UsersCount">تعداد شرکت کنندگان</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of list">
      <td class="actions">
        <a (click)="openOfferModal(data)">Submit offer</a>
      </td>
      <td>{{ data.Id }}</td>
      <td>{{ data.Title }}</td>
      <td>{{ data.Description }}</td>
      <td>{{ data.BeginDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ data.EndDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ data.FromPrice | number }}</td>
      <td>{{ data.ToPrice | number }}</td>
      <td>{{ data.Report.MinPriceOffer | number }}</td>
      <td>{{ data.Report.UsersCount | number }}</td>
    </tr>
  </tbody>
</nz-table>

<form nz-form [formGroup]="validateForm">
  <nz-modal
    [(nzVisible)]="isOfferModalVisible"
    nzTitle="Submit your offer"
    nzOkText="Send"
    nzCancelText="Cancel"
    (nzOnOk)="submitOffer()"
    (nzOnCancel)="isOfferModalVisible = false"
    nzDirection="rtl"
  >
    <ng-container *nzModalContent>
      <ng-container *ngIf="selectedTender as tender">
        <p class="modal-description">
          {{ tender.Title }} بازه مجاز قیمت:
          {{ tender.FromPrice | number }} - {{ tender.ToPrice | number }}
        </p>
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Your price</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-input-number
              formControlName="PriceOffer"
              [nzMin]="tender.FromPrice"
              [nzMax]="tender.ToPrice"
              [nzStep]="1000"
              style="width: 200px"
            ></nz-input-number>
            <div class="form-error" *ngIf="validateForm.get('PriceOffer')?.invalid && validateForm.get('PriceOffer')?.dirty">
              مبلغ را در بازه ی مجاز ثبت کنید.
            </div>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
    </ng-container>
  </nz-modal>
</form>
