.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    color: #fff;
    line-height: 32px;
    padding: 0px 2px;
  }
  
  .ant-layout{
    height: 100vh;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 16px 16px 0px 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {    
    background: #fff;
    min-height: 100%;
  }

  nz-footer {
    text-align: center;
  }.menu-stat {
  font-size: 12px;
  margin-inline-start: 4px;
}

.menu-stat .stat-line {
  display: block;
  font-size: 12px;
  opacity: 0.9;
}
